{% extends 'layout/base.html' %}
{% block title %}Historial Médico{% endblock %}
{% block content %}
    <header class="header">
        <h1><i class="fas fa-history"></i> Historial Médico General</h1>
        <p>Busque y consulte el historial médico de sus pacientes.</p>
    </header>
    <div class="card">
        <div class="card-body">
            <p>Aquí se implementará una herramienta de búsqueda para acceder al historial completo de todos los pacientes.</p>
        </div>
    </div>
{% endblock %}